{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/url/of/previous/page">Back</a>

      <h1 class="heading-large">
        Unfortunately you are ineligible for this service sorry about that
      </h1>

      <p>Please continue with your practicing and try again when you can juggle more than 3 balls.</p>

      <p>Try some of these <a href="/url/of/onward/page">tutorial videos</a>.</p>

    </div>
  </div>
</main>

{% endblock %}
